.tableContainer {
  :global {
    .ant-card-body{
      padding: 0 !important;
    }

    .ant-table-thead {
      tr {
        th {
          background: inherit !important;
        }
      }
    }
  }
}

.customPadding {
  padding-left: 10px !important;
}

.deleteCol {
  cursor: pointer;

  .deleteIcon {
    font-size: 1.125rem;
    color: #ec008c;
  }

  .deleteText {
    color: #ec008c;
    margin-left: 5px;
    position: absolute;
    margin-top: 4px;
  }
}


.btnContainer {
  text-align: end;
  margin-top: 15px;

  .btnStyle {
    background-color:#00bcd4;
    padding: 0px 40px;
    color: white;
  }
}