.tableContainer {
  :global {
    .ant-card-body{
      padding: 0 !important;
    }

    .ant-table-thead {
      tr {
        th {
          background: inherit !important;
        }
      }
    }
  }
}

.customPadding {
  padding-left: 10px !important;
}

.trackText {
  cursor: pointer;
  color: #00bcd4;
  display: block;
  margin-left: 25px;
  font-size: 20px;
}
