.tableContainer {
  :global {
    .ant-card-body{
      padding: 0 !important;
    }

    .ant-table-thead {
      tr {
        th {
          background: inherit !important;
        }
      }
    }
  }
}

.customPadding {
  padding-left: 10px !important;
}


.selectedUserAvatar {
  padding-left:15px;
  padding-top:5px;
  padding-bottom:5px;
}


.chat1 {
  text-align:right;
  background-color:#e0f7fa;
  margin-left:100px;
  margin-Top:5px;
  margin-bottom:10px;
  border-radius:3px;
  padding:12px;
  margin-right:10px;
}