.cardStyle {
  padding: 5px 20px !important;

  p {
    font-size: 1rem !important;
  }

  .reportBtn {
    margin-top: 10px;
    float: right;
    background-color: #00bcd4 !important;
    color: white;
    padding: 0 40px;
  }

}
