.pageWrapper {
  padding: 40px 0;
}

.banner {
  background: url('../../assets/trade.png');
  min-height: 180px;
  background-size: cover;

  .text {
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding-top: 70px;
    font-weight: 600;
  }
}

.filters {
  .label {
    color: #ec018c;
    padding: 6px 12px;
    padding-left: 0;
  }

  .divider {
    padding-bottom: 15px;
  }

  .filterLabel {
    padding: 10px 0px;
  }

  .inputField {
    margin: 10px 0px;
  }
}

.searchKeyword {
  background: #f2f2f2;
  padding: 16px !important;
}
