.pageWrapper {
  padding: 40px 0;
  width: max-content;
}

.steps {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: bold;

  span {
    color: #bbb;
    font-size: 14px;
    margin-left: 10px;
  }
}

.rowStyle {
  width: 100%;
  margin-bottom: 40px;

  .colStyle {
    min-width: 227px;
    text-align: center;
  }
}

.card {
  border-radius: 10px !important;
  cursor: pointer;

  &:hover {
    background: #00bcd461;
  }

  h5 {
    font-size: 18px;
  }

  img {
    width: 50% !important;
    margin: 0 50px;
  }
}

.step2card {
  img {
    width: 103px;
  }

  .detail {
    
  }

  span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-left: 40px;
  }

  .cardFooter {
    padding: 20px 30px;
    background: #f9f9f9;

    p {
      font-size: 16px;
    }
  }
}

.tabDetail {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.marginBot20 {
  margin-bottom: 20px;
}

.btnContainer {
  text-align: end;
  margin-top: 15px;

  .btnStyle {
    padding: 0px 40px;
    background-color: #00bcd4;
    color: white;
  }
}

.promoteCard {
  box-shadow: 0 1px 6px rgba(57,73,76,.35);

  :global {
    .ant-card-head-title{
      text-align: center;

      img {
        width: 25%;
      }
    }
  }
}

.imgContainer {

  img {
    width: 100%;
    border-left: rgb(221, 221, 221) 2px solid;
    padding: 50px;
    margin-left: 30px;
    box-sizing: content-box;
  }
}

.verifyOwnership {
  p {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    width: 100% !important;
    font-size: 1.125rem !important;

    span {
      margin-left: 10px;
      color: rgb(221, 221, 221);
      font-size: 1rem;
    }
  }
}


.thePitch {

  .fontDecorH5 {
    font-weight:700
  }

  .subDetails {
    margin-top:20;
  
    .fontDecor {
      font-size:17
    }
  }

  .listCategory {
    width:30%; 
    margin-top:30px;
    margin-bottom:30px;
    margin-right:30px;
  }

  .listSubCategory {
    width:30%;
    margin:30;
  }

  .descriptionHeading {
    width: 685px;
  }

  .description {
    width:685px;
    margin-top:20px;
  }
}