.jumbotronStyle {
  padding: 60px 60px 30px 60px !important;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 45px;
}

.textDisp {
  padding: 10px 0;
  width: 89%;
}

.fbLogo {
  margin-top: 25px;
  height: 50px;
  width: 100%;
}
