.boldLabel {
  font-size: 1.125rem !important;
  color: #333333;
  font-weight: 700;
}

.rowStyle {
  margin-top: 20px;
  width: 100%;

  :global {
    .ant-card-bordered {
      border-radius: 6px;
    }
  }

  .btnStyle {
    background-color:#00bcd4;
    padding: 0px 15px;
    color: white;
  }

  .traderloPink {
    background-color: #ec008c;
    color: white;
    width: 120%;
  }
}

.cardStyle {
  text-align: center;

  :global {
    .ant-card-body {
      padding: 18px !important;
      padding-bottom: 44px !important;
      padding-top: 24px !important;
    }
  }

  h3 {
    color: #333333;
    font-size: 28px;
    font-weight: 700;
    font-family: "Mukta", sans-serif !important;
    margin-bottom: 31px;

    &:after {
      content: '';
      background: #ec008c;
      display: block;
      width: 46px;
      height: 3px;
      margin: 0 calc(50% - 24px);
      margin-top: 5px;
    }
  }
}

.cardItem {
  text-align: center;

  img {
    width: 60px;
    height: 60px;
    margin: 0 90px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
  }
}

.marginTop15 {
  margin-top: 15px !important;
}

.rightPane {
  // height: 250px;

  h4 {
    font-size: 22px !important;

    &.currBid {
      font-size: 2rem !important;
    }

    span {
      font-size: 1.125rem !important;
      text-align: right !important;
      float: right;
      margin-top: 8px;
      color: #888 !important;
      cursor: pointer;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;

    span {
      margin-left: 10px;
    }
  }
}

.status {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-left: 8px;
  margin-right: 4px;
  display: inline-block;

  &.online {
    background: #57e50c;
  }

  &.offline {
    background: gray;
  }
}

.sellerDetailsCard {

  &.phoneNumberCard {
    background: #dcedc8 !important;
  }

  &.addressCard {
    margin-top: 15px;
    background: #ffecb3 !important;
  }

  :global {
    .ant-card-body {
      padding: 15px !important;
    }
  }

  .number {
    font-weight: 700;
    font-size: 16px;
    display: block;
  }

  .showNumber {
    margin-top: 20px;
    color: #00bcd4;
    font-weight: 700;
    cursor: pointer;
  }

  .padlock {
    font-size: 30px;
    float: right;
    padding-top: 8px;
  }
}

.chatCol {
  float: right;
  cursor: pointer;

  .messageIcon {
    font-size: 24px;
    color: #00bcd4;
    top: 3px;
    right: 58px;
    position: absolute;
    cursor: pointer;
  }

  .chat {
    cursor: pointer;
    margin-left: 36px;
    font-weight: 500;
    font-size: 24px;
    color: #00bcd4;
  }
}


.similarList {
  display: block;

  .caretIcon {
    position: absolute;
    font-size: 16px;
    padding-top: 5px;
  }

  span {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #00bcd4;
  }
}

.dividerStyle {
  margin: 10px 0 !important;
}

.cardTitle {
  font-weight: 700;
  font-size: 16px;
}

.bidNowStyle {
  cursor: pointer;
}

.notif {
  margin-top: 50px !important;
}


.tabStyle {
  color: #333333;

  :global {
    .ant-tabs-content {
      font-size: 16px;
    }
  }
}

.blueLink {
  color: #00bcd4;
  font-weight: bold;
  cursor: pointer;
}

.report {
  margin-top: 15px !important;

  :global {
    .ant-card-body {
      font-size: 16px;
    }
  }
}

.commentSubmit {
  background: #222 !important;
  font-size: 1.125rem !important;
  color: #fff !important;
  margin-top: 15px;
}
