.rowStyle {
  margin-top: 20px;
  width: 100%;

  :global {
    .ant-card-bordered {
      border-radius: 6px;
    }
  }
}

.cardStyle {
  text-align: center;

  h3 {

    &:after {
      content: '';
      background: #ec008c;
      display: block;
      width: 46px;
      height: 3px;
      margin: 0 calc(50% - 24px);
      margin-top: 5px;
    }
  }
}

.cardItem {
  text-align: center;

  img {
    width: 25%;
    margin: 0 90px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 14px;
    margin: 10px;
    text-align: center;
    font-weight: 700;
  }
}

.marginTop15 {
  margin-top: 15px !important;
}

.rightPane {
  h4 {
    font-size: 22px !important;

    span {
      text-align: right !important;
      float: right;
      font-size: 14px;
      margin-top: 8px;
      color: #888 !important;
      cursor: pointer;
    }
  }

  p {
    span {
      margin-left: 10px;
    }
  }
}
