.globalSearch {
  // height: 150px;
  text-align: center;

  .title {
    color: #000;
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Mukta", sans-serif;
  }

}

.contentRow {
  margin-top: 15px;
  margin-right: 0;
  width: 100%;
}

.marginBot {
  color: #000;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  margin: 0;
}

.carousel {
  margin: 0 0 30px 120px;
}

.card {
  margin-left: 0px !important;
}



.howItWorks {
  text-align: center;
  width: 100%;

  .cardDeck {
    margin-top: 15px;

    .card {
      border: 0px;
    }
  }
}

.subsNewLetter {
  width: 100%;
  text-align: center;

  .subTitle {
    font-weight: bold;
    color: #888;
    margin-bottom: 30px;
  }

  .searchInput {
    width: 344px;
  }

  .imgList {
    width: 60px;
    height: 60px;
    display: inline-block;
  }

  .fullWidth {
    width: 100%;
  }

  .details {
    display: flex;

    .detailsList {
      // display: inline-block;
      flex: 1 1 30%;
    }
  }

}

.blogDetails {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 22px 29px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  h6 {
    margin-top: 10px;
  }

  p {
    padding-top: 20px;
    text-align: start;
  }
}


// **** Template List ****

.tempLists {
  padding: 0 !important;
  border-radius: 0 !important;
  align-items: center;

  .title {
    text-align: center;
  }

  .greyBackground {
    background-color:rgba(0,0,0,.05);
    text-align: center;

    .content {
      margin-right:15px;
      margin-left:5px;
    }

    .daysLeftDecor {
      color:#00bcd4;
      font-weight:600;
    }
  }

  .whiteBackground {
    background-color:white;
    text-align: center;

    .content {
      margin-right:15px;
      margin-left:5px;
    }

    .daysLeftDecor {
      color:#00bcd4;
      font-weight:600;
    }
  }

  .viewAllDecor {
    text-align: center;
    align-items: center;

    .fontDecor {
      color:#ec008c;
      font-weight:600;
      display:block;
    }

  }

}

.successNotif {
  margin-top: 50px !important;
}