.globalSearch {
  // height: 150px;
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

}

.contentRow {
  margin-top: 15px;
}

.marginBot {
  margin-bottom: 30px;
}

.carousel {
  margin: 0 0 30px 120px;
}

.card {
  margin-left: 0px !important;
}

.tempLists {
  padding: 0 !important;
  border-radius: 0 !important;
}
