.globalSearch {
  // height: 150px;
  text-align: center;

  .title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

}

.contentRow {
  margin-top: 15px;
  margin-right: 0;
  width: 100%;
}

.marginBot {
  margin-bottom: 30px;
}

.carousel {
  margin: 0 0 30px 120px;
}

.card {
  margin-left: 0px !important;
}

.tempLists {
  padding: 0 !important;
  border-radius: 0 !important;
}

.howItWorks {
  text-align: center;
  width: 100%;

  .cardDeck {
    margin-top: 15px;

    .card {
      border: 0px;
    }
  }
}

.subsNewLetter {
  width: 100%;
  text-align: center;

  .subTitle {
    font-weight: bold;
    color: #888;
    margin-bottom: 30px;
  }

  .searchInput {
    width: 344px;
  }

  .imgList {
    width: 60px;
    height: 60px;
    display: inline-block;
  }

  .fullWidth {
    width: 100%;
  }

  .details {
    display: flex;
    
    .detailsList {
      // display: inline-block;
      flex: 1 1 30%;
    }
  }

}

.blogDetails {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  padding: 22px 29px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  h6 {
    margin-top: 10px;
  }

  p {
    padding-top: 20px;
    text-align: start;
  }
}
