.pageWrapper {
  padding: 40px 0;
}

.banner {
  background: url('../../assets/trade.png');
  min-height: 180px;
  background-size: cover;

  .text {
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding-top: 70px;
    font-weight: 600;
  }
}

.filters {

  &.filterCard {
    margin-top: 15px;
  }

  .inputField {
    margin-bottom: 10px;
    width: 100%;
  }

  .label {
    color: #ec018c;
    padding: 6px 12px;
    padding-left: 0;
  }

  .divider {
    margin: 10px 0px;
  }

  .filterLabel {
    padding: 10px 0px;
    display: block;
  }

  .inputField {
    margin: 10px 0px;
  }
}

.searchKeyword {
  padding: 16px;
}

.alignEnd {
  text-align: end;
}
