.statusDesign {
  background: #ec008c;
    color: #fff;
    padding: 0 15px;
    border-radius: 6px !important;
    height: 25px;
    font-size: 1rem !important;
    border: none;
    margin-top:10px;
}

.cardDesign {
  margin:15px;
  background-color:pink;
  border-radius:5;
  color: white;
  font-size:18px;
  font-weight:700;
  height: 100;
}

.userSidebar {
  margin-top:15px;
}