.pageWrapper {
  padding: 40px 0;
}

.steps {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: bold;

  span {
    color: #bbb;
    font-size: 14px;
    margin-left: 10px;
  }

  p {
    font-size: 17px;
    color: #00bcd4;
    margin: 0;
    font-weight: 600;
    letter-spacing: normal;
    cursor: pointer;
  }
}

.rowStyle {
  width: 100%;
  margin-bottom: 40px;

  .colStyle {
    min-width: 227px;
    text-align: center;
  }
}

.card {
  border-radius: 10px !important;
  cursor: pointer;

  &.isSelected {
    background: #00bcd461;
  }

  &:hover {
    background: #00bcd461;
  }

  h5 {
    font-size: 18px;
  }

  img {
    width: 50% !important;
    margin: 0 50px;
  }
}

.step2card {
  img {
    width: 103px;
  }

  :global {
    .ant-card-head-title {
      padding: 0 !important;
    }

    .ant-card-body {
      padding: 0 !important;
    }
  }

  span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }

  .cardFooter {
    padding: 20px 30px;
    background: #f9f9f9;

    p {
      font-size: 16px;
    }
  }

  .details {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 120px);
  }
}
