.signupLink {
  text-decoration: underline;
  color: lightblue;
  cursor: pointer;
}

.divStyle {
  margin: 0 20px;
}

.formWrapper {
  padding: 0 50px;
}


.btnContainer {
  text-align: end;
  margin-top: 15px;
  margin-left: 15px;

  .btnStyle {
    background-color:#00bcd4;
    padding: 0px 40px;
    color: white;
  }
}
